<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lwpackage.applicationupdate.flutter_app_update_package">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
    android:usesCleartextTraffic="true"

    >

        <meta-data
            android:name="com.appsonair.icon"
            android:resource="@drawable/app_icon" />

        <!-- App name for dialog  -->
        <meta-data
            android:name="com.appsonair.name"
            android:value="@string/app_name" />
<!--        <activity-->
<!--        android:theme="@style/Theme.AppCompat.Light"-->
<!--        android:name="com.lwpackage.applicationupdate.appsonairsetup.AppUpdateActivity"-->
<!--        android:exported="false"/>-->

<!--        <activity-->
<!--            android:theme="@style/Theme.AppCompat.Light"-->
<!--            android:name="com.lwpackage.applicationupdate.appsonairsetup.MaintenanceActivity"-->
<!--            android:exported="false"/>-->

    </application>
</manifest>
